<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/resources/styles/error/error.css"/>
        <link rel="icon" type="image/png" href="/logo_imgs/vgp_logo.png"/>

        <title>Error Page</title>
    </head>
    <body>

    <center><img src="/resources/styles/logo_imgs/" alt="logo"/>
        <h3>An Error has Occurred</h3>
        <a href="/login"><button>Back To Home</button></a>
    </center>

</body>
</html>
