<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/nav_bar/nav_bar_style.css" />
        <link rel="icon" type="image/png" href="/logo_imgs/vgp_logo.png"/>
        <title>Navigation Bar</title>
    </head>
        
    <body>
        <header>            
            <img class= "logo" src="/logo_imgs/vgp_logo1.png" alt="">
            <nav>
                <ul class="nav_links">
                    <li><a href="/produtos/roupas">Loja</a></li>
                    <li><a href="/minhas-compras">Compras</a></li>
                    <li><a href="/vendedor/informacoes">Vendedor</a></li>
                    <li><a href="/perfil/informacoes-perfil">Perfil</a></li>                   
                    <a href="/notificacoes"><li><img class="img-notification" src="/logo_imgs/notification-without.png" alt="notification"/></li></a>
                </ul>
            </nav>
            <a class="cta" href="/login-ou-deslogar"><button class="btn-button">Login / Sair</button></a>
        </header>  
    </body>
</html>
